/api_detection/__pycache__
/api_detection/migrations
/fraud_detection_system/__pycache__
login_model.pkl
login_scaler.pkl
trx_scaler.pkl
trx_model.pkl
digi_login_fields.pkl
digi_login_model.pkl
digi_login_rulename.pkl
digi_login_scaler.pkl
