/api_detection/__pycache__
/api_detection/migrations
/fraud_detection_system/__pycache__
/machine_learning/history/
/machine_learning/more/
machine_learning/trx_scaler.pkl
machine_learning/trx_model.pkl
machine_learning/main_trx_scaler.pkl
machine_learning/coordinat_model.pkl
machine_learning/digi_login_fields.pkl
machine_learning/digi_login_model.pkl
machine_learning/digi_login_rulename.pkl
machine_learning/digi_login_scaler.pkl
machine_learning/main_trx_fields.pkl
machine_learning/main_trx_model.pkl
machine_learning/main_trx_rulename.pkl
machine_learning/coordinat_scaler.pkl
